@model IEnumerable<ConsommiTounsi.Models.Event>
@{
    ViewBag.Title = "DisplayAdminEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ ConsommiTounsi.Models.UserRegisterModel user = (ConsommiTounsi.Models.UserRegisterModel)Session["User"];}
@if (user != null)
{
    if (user.role == "Admin")
    {
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Events to be treated <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <button type="button" class="btn btn-success btn-lg" onclick="GO()">Add Event</button>
                                <script type="text/javascript">
                                function GO()
                                {
                                    window.location.href = "@Url.Action("AddEvent", "Event")";
                                }
                                </script>
                                <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Title</th>
                                            <th>Location</th>
                                            <th>Strat date</th>
                                            <th>End date</th>

                                            <th style="width: 120px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td> @Html.DisplayFor(modelItem => item.EventId)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Title)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Location)</td>
                                                <td> @item.StartDatedateFormatted.ToString("MM/dd/yyyy")</td>
                                                <td> @item.EndDatedateFormatted.ToString("MM/dd/yyyy")</td>

                                                <td>
                                                    |
                                                    @Html.ActionLink("Details", "EventDetails", new { id = item.EventId })|
                                                    @Html.ActionLink("Accept Event", "AcceptEvent", new { id = item.EventId })|
                                                    @Html.ActionLink("Reject Event", "RejectEvent", new { id = item.EventId })
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}

