
@{
    ViewBag.Title = "SupplierDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ConsommiTounsi.Models.Supplier
@{ ConsommiTounsi.Models.UserRegisterModel user = (ConsommiTounsi.Models.UserRegisterModel)Session["User"];}
@{ IEnumerable<ConsommiTounsi.Models.Stock> stocks = (IEnumerable<ConsommiTounsi.Models.Stock>)ViewBag.stocks; }
@{ IEnumerable<ConsommiTounsi.Models.Event> events = (IEnumerable<ConsommiTounsi.Models.Event>)ViewBag.events; }

@if (user != null)
{
    if (user.role == "Admin")
    {
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Suplier Profile</h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">

                        <div class="x_content">
                            <div class="col-md-3 col-sm-3  profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view" src="~/UserImages/@Model.urlImage" alt="Avatar" title="Change the avatar" style="width:200px">
                                    </div>
                                </div>
                                <h3>@Model.Name</h3>

                                <ul class="list-unstyled user_data">
                                    <li>
                                        <i class="fa fa-map-marker user-profile-icon"></i> @Model.address
                                    </li>

                                    <li>
                                        <i class="fa fa-phone user-profile-icon"></i> @Model.phone
                                    </li>

                                    <li class="m-top-xs">
                                        <i class="fa fa-inbox user-profile-icon"></i>@Model.mail

                                    </li>
                                </ul>
                                <a class="btn btn-success" href="@Url.Action("UpdateSupplier", "Admin",new { id = Model.userId })"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>

                                @if (ViewBag.IsBlocked == true)
                                {
                                    <a class="btn btn-success" href="@Url.Action("UnblockUser", "Admin",new { id = Model.userId })"><i class="fa fa-edit m-right-xs"></i>Unblock user</a>

                                }
                                else
                                {
                                    <a class="btn btn-danger" href="@Url.Action("BlockUser", "Admin",new { id = Model.userId })"><i class="fa fa-edit m-right-xs"></i>Block user</a>

                                }

                                <br />



                            </div>
                            <div class="col-md-9 col-sm-9 ">



                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Profile</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Products</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Events</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">
                                            <!-- start user projects -->
                                            <table class="data table table-striped no-margin">



                                                <tr>
                                                    <td>Company  name</td>
                                                    <td>@Model.Name</td>

                                                </tr>

                                                <tr>
                                                    <td>Address</td>
                                                    <td>@Model.address</td>

                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>@Model.mail</td>

                                                </tr>
                                                <tr>
                                                    <td>Phone</td>
                                                    <td>@Model.phone</td>

                                                </tr>

                                            </table>
                                            <!-- end user projects -->

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                            <!-- start recent activity -->
                                            <ul class="messages">

                                                @if (stocks != null)
                                                {
                                                    foreach (var stock in stocks)
                                                    {
                                                        <li>
                                                            <img src="~/ProductImages/@stock.product.imageUrl" class="avatar" alt="Avatar">
                                                            <div class="message_date">
                                                                <h3 class="date text-info">@stock.price DT</h3>
                                                                <p class="month">@stock.quantity  piece in stock</p>
                                                            </div>
                                                            <div class="message_wrapper">
                                                                <h4 class="heading">@stock.product.productName</h4>
                                                                <blockquote class="message">@stock.product.description</blockquote>
                                                                <br />

                                                                <p class="url">
                                                                    <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                                    Category : @stock.product.category
                                                                </p>
                                                            </div>
                                                        </li>

                                                    }
                                                }
                                            </ul>
                                            <!-- end recent activity -->


                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <ul class="messages">

                                                @if (events != null)
                                                {
                                                    foreach (var eventt in events)
                                                    {
                                        <li>
                                            <img src="~/EventImages/@eventt.UrlImage" class="avatar" alt="Avatar">
                                            <div class="message_date">
                                                <h3 class="date text-info">@eventt.StartDatedateFormatted.Day</h3>
                                                <p class="month">@eventt.StartDatedateFormatted.Month</p>
                                            </div>
                                            <div class="message_wrapper">
                                                <h4 class="heading">@eventt.Title</h4>
                                                <blockquote class="message">@eventt.Description</blockquote>
                                                <br />

                                                <p class="url">
                                                    <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                    End date: @eventt.EndDatedateFormatted.ToString("dd/MM/yyyy")
                                                </p>
                                            </div>
                                        </li>

                                    }
                                    }
                                            </ul>
                                            <!-- end recent activity -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
}