@model ConsommiTounsi.Models.Customer
@{
    ViewBag.Title = "UpdateCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Update Customer</h3>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Customer Infos <small> Insert customer infos</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    @using (Html.BeginForm("UpdateCustomer", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-label-left", @enctype = "multipart/form-data", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.TextBoxFor(m => m.userId, new { @class = "form-control", @placeholder = "First Name",  @type ="hidden"})

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(m => m.firstName, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @placeholder = "Last name" })
                                @Html.ValidationMessageFor(m => m.lastName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="login" class="col-form-label col-md-3 col-sm-3 label-align">Login</label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.userName, new { @class = "form-control", @placeholder = "Login" })
                                @Html.ValidationMessageFor(m => m.userName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                Password <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.password, new { @type = "password", @class = "form-control", @value = "passwordonetwo" })
                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="phone">
                                Phone <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @placeholder = "Phone", @type = "tel" })
                                @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">
                                E-mail <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.email, new { @type = "email", @class = "form-control", @placeholder = "E-mail" })
                                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="adress">
                                Adress <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.address, new { @class = "form-control", @placeholder = "Adress" })
                                @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">
                                Photo :<span class="required">*</span>
                                <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                            </label>
                            <div class="col-md-6 col-sm-6 ">

                                @Html.TextBox("file", null, new { type = "file", @accept = "image/*" })
                                @Html.ValidationMessageFor(model => model.urlImage, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                            <div class="col-md-6 col-sm-6 ">
                                M:
                                @Html.RadioButtonFor(m => m.gender, "Male")F:
                                @Html.RadioButtonFor(m => m.gender, "Female")
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">
                                Date Of Birth <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                @Html.TextBoxFor(m => m.birthdateString, new { @id = "birthdate", @class = "date-picker form-control", @type = "text", @onfocus = "this.type='date'", @onclick = "this.type='date'", @onblur = "this.type='text'", @onmouseout = "timeFunctionLong(this)" })
                                @Html.ValidationMessageFor(m => m.birthdateString, "", new { @class = "text-danger" })
                                <script>
                                    function timeFunctionLong(input) {
                                        setTimeout(function () {
                                            input.type = 'text';
                                        }, 60000);
                                    }</script>
                            </div>

                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button type="button" class="btn btn-primary" onclick="GO()">Cancel</button>
                                <script type="text/javascript">
                                function GO()
                                {
                                    window.location.href = "@Url.Action("CustomerManagement", "Admin")";
                                }
                                </script>

                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>

