
@model ConsommiTounsi.Models.DeliveryManModel

<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
    <!-- Block2 -->

    <div class="block2">
        <div class="block2-img wrap-pic-w of-hidden pos-relative">


            <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>              

            </div>
        </div>


        <div class="block2-txt p-t-20">
            @Html.ActionLink(@Model.Name, "IndexDetail", "DeliveryMan",
    new
    {
        Delivery_ManId = @Model.Delivery_ManId,
        Name = @Model.Name,
        NumTel = @Model.NumTel,
        DeliveryZone = @Model.DeliveryZone
    },
    new { @class = "block2-name dis-block s-text3 p-b-5" })


            <span class="block2-price m-text6 p-r-5" id="price">
                Sector    @Model.DeliveryZone
            </span>
        </div>
    </div>
</div>
